$black-color: #000000;
$text-primary-color: #212121;
$text-p-color: #757575;
$primary-white-color: #ffffff;
$background-secondary-color: #f5f4fa;
$hero-footer-color: #2f303a;
$accent-color: #2196f3;
$no-accent-color: #afb1b8;
$primary-btn-accent-color: #188ce8;
$action-time: cubic-bezier(0.4, 0, 0.2, 1);
$action-total-time: 250ms;


